html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p.p{
    text-indent: 6%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 100%;
    font-size: 140%;

}
 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 700;
    color: #1e1e1e;
    text-align: center;
    text-decoration: underline;
    font-weight: 300;

 }
 img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;

 }
 .user{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #1e1e1e;
    display: table;
    top: 0;

 }
 .user .content{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
 }
 .c{
    max-width: 600px;
    margin: auto;
 }
 .name{
    font-size: 300%;
    font-weight: 700;
    color: #ffff6f;

 }
 .a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
 }
 .post{
    font-family: monospace;
    font-weight: 500;
    color: aliceblue;
    font-size: 200%;
 }
 nav{
    float: left;
    padding: 5% 5% 0 0;
    height: 50px;
 }
 nav ul{
    list-style: none;
    float: left;
 }

 nav ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
 }
 nav ul li a{
    color: azure;
    text-decoration: none;
 }

nav ul li a:hover {
   text-decoration: underline;
   color: orangered;
}
nav ul, nav:active ul{
    padding: 8px;
}
nav li{
    padding: 8px 0 10px 7px;
    width: 100%;
} 
nav:hover ul{
    display: block;
    position: absolute;
}
#menu-icon {
    width: 30px;
    height: 26px;
    background: url(images/menu.png) center;
    display: inline-block;
    margin: 50px 0 0 50px;
}

.column{
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
} 
.img {
    width: 26%;
    float: left;
    margin: 4%;
} 
.po{
    width: 29.333333%;
    padding: 2%;
    float: left;
    text-align: center;

}
.po img:hover{
    opacity: .6;
} 
.cont p{
   text-align: center;
   letter-spacing: 5px;

}
.clearflex{
   clear: both;
   height: 3%;

}
.column ul{
   font-size: 200%;
   font-weight: 300; 

}  
.contact{
   background-color: #1e1e1e;
}
.contact .row{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.contact .row .content{
   flex:1 1 30rem;
   padding:4rem;
   padding-bottom: 0;
}

.contact .row form{
   flex:1 1 45rem;
   padding:2rem;
   margin:2rem;
   margin-bottom: 4rem;
}

.contact .row form .box{
   padding:1.5rem;
   margin:1rem 0;
   background:#3333;
   color:#fff;
   text-transform: none;
   font-size: 1.7rem;
   width:100%;
}

.contact .row form .box::placeholder{
   text-transform: capitalize;
}

.contact .row form .message{
   height: 15rem;
   resize: none;
}

.contact .row .content .title{
   text-transform: uppercase;
   color:#fff;
   font-size: 3rem;
   padding-bottom: 2rem;
}

.contact .row .content .info h3{
   display: flex;
   align-items: center;
   font-size: 2rem;
   color:#eee;
   padding:1rem 0;
   font-weight: normal;
}

.contact .row .content .info h3 i{
   padding-right: 1rem;
   color:var(--yellow);
}
.top{
   position: fixed;
   bottom:7.5rem; right: 2rem;
   z-index: 100;
   display: none;
}
.btn{
   padding:.7rem 3rem;
   background:#333;
   color:#fff;
   cursor: pointer;
   margin-top: 1rem;
   font-size: 2rem;
   border-radius: 5rem;
}
.btn i{
   padding:0 .5rem;
   font-size: 1.8rem;
}

.btn:hover{
   background:var(--yellow);
}